:root {
    // colors
    --primary-color: #f3f4ec;
    --secondary-color: #6c6e71;
    --forest-green: #292d33;
    --charcoal: #202020;
    --sunset: #d4491b;

    // typography
    --main-font: "indivisible", sans-serif;
    --support-font: "turnip", serif;
}

// add your custom styles here 👇
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

// media query sizes
$mobile-tablet: 991px;

h2,
h3 {
    font-family: var(--main-font);
}
h2 {
    font-weight: bold;
    color: var(--forest-green);
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 60px;
    margin-bottom: 22px;
    @media (max-width: $mobile-tablet) { 
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 14px;
    }
}

.item1 {
    padding: 100px;
    background-color: red;
}
h3 {
    font-weight: 600;
    color: var(--sunset);
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    @media (max-width: $mobile-tablet) { 
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 8px;  
    }
}
p {
    font-family: var(--support-font);
    color: var(--secondary-color);
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 20px;
    @media (max-width: $mobile-tablet) { 
        font-size: 17px;
        line-height: 25.5px;
        margin-bottom: 28px;
    }
}
a {
    color: var(--primary-color);
    font-family: var(--main-font);
    text-decoration: none;
    font-weight: 600;
}

section {
    width: 100%;
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        &.alter {
            .image-wrapper {
                order: 2;
            }
            .content-wrapper {
                order: 1;
                padding: 100px 60px 100px 100px;
                @media (max-width: $mobile-tablet) { 
                    padding:0px;
                }
            }
        }
        .image-wrapper {
            flex: 1;
            width: 50%;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .content-wrapper {
            background-color: var(--primary-color);
            width: 50%;
            padding: 100px 100px 100px 60px;
            min-height: 640px;
            a.button {
                background-color: var(--forest-green);
                font-size: 18px;
                line-height: 1.5;
                padding: 12px 36px;
                border-radius: 30px;
                width: 280px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}



@media (max-width: $mobile-tablet) {
    section {
        /*padding: 8px 14px 40px 14px;*/
        .wrapper {
            border-radius: 15px;
            overflow: hidden;
            border: 2px solid rgba(0, 0, 0, 0.07);
            flex-direction: column;
            &.alter {
                .image-wrapper {
                    order: 1;
                }
                .content-wrapper {
                    order: 2;
                }
            }
            .image-wrapper {
                width: 100%;
                min-height: 360px;
            }
            .content-wrapper {
                width: 100%;
                padding: 28px 10px;
                min-height: 100%;
                text-align: center;
            }
        }
    }
}


#tabsTestimonial {
    ul.slick-dots{
        li{
            width:10px;
            height:10px;
            transition: .4s all ease-in;
            button{
                background-color: var(--secondary-color);
                width:10px;
                height:10px;
                border-radius:20px;
                
                
            }
            &.slick-active{
                width:40px;
                transition: .4s all ease-in;
                button{
                    background: var(--sunset);
                    width:40px;
                }
            }
        }
    }
} 