// @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    // colors
    --primary-color: #f3f4ec;
    --secondary-color: #6c6e71;
    --forest-green: #292d33;
    --charcoal: #202020;
    --sunset: #d4491b;

    // typography
    --main-font: "indivisible", sans-serif;
    --support-font: "turnip", serif;
}

// add your custom styles here 👇
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    font-family: "Inter", sans-serif;
}

// Utils start
$off-black:#101010;
$dark-gray:#272727;
$light-gray:#f4f4f4;
$gold:#e2c888;
$white:#fff;
$blue:#0b73cb;
.text-color--gray {
    color: $light-gray;
}
.page-width {
    max-width: 140rem;
    margin: auto;
    width: 100%;
}
// Utils end

// Button Start
.button-blue {
    display: inline-block;
    background-color: $blue;
    color: $white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    padding: 12px 24px;
    text-decoration: none;
}
// Button End

// Newsletter section styles start
section.newsletter {
    background-color: $gold;
    padding: 65px;
    .newsletter-wrapper {
        display: flex;
        position: relative;
        z-index: auto;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 30px;
        padding: 65px 40px;
        &::before, &::after {
            content: '';
            border-color: $off-black;
            border-style: solid solid hidden hidden;
            border-width: 3px;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;  
            right: 0;
        }
        &::after {
            border-style: solid hidden hidden solid;
            left: 0;  
            right: unset;
        }
        .newsletter__header {
            width: 50%;
            h2 {
                color: $off-black;
                text-transform: uppercase;
                font-size: 45px;
            }
        }
        .newsletter__content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 50%;
            .newsletter__content-sub {
                font-size: 18px;
            }
            .newsletter__form {
                display: flex;
                gap: 16px;
                .newsletter__form-email {
                    width: 459px;
                    height: 48px;
                    padding: 12px;
                }
            }
            .newsletter__terms{
                font-size: 12px;
            }
        }
        .newsletter_bottom-vector {
            border-color: $off-black;
            border-style: hidden solid solid solid;
            border-width: 3px;
            height: 40px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}
// Newsletter section styles end

// Purpose Section Styles Start
section.purpose {
    background-color: $dark-gray;
    padding: 178px 70px;
    color: $light-gray;
    .purpose__wrapper {
        display: flex;
        align-items: stretch;
        column-gap: 90px;
        .purpose__left {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            row-gap: 40px;
            .purpose__our-header {
                color: $gold;
                font-size: 45px;
                line-height: 100%;
                text-transform: uppercase;
            }
        }
        .purpose__right {
            display: flex;
            flex-direction: column;
            row-gap: 45px;
            .purpose__item {
                display: flex;
                column-gap: 60px;
                align-items: stretch;
                .purpose__item-image {
                    img {
                        width: 112px;
                        display: block;
                        object-fit: contain;
                    }
                }
                .purpose__item-content {
                    flex-grow: 1;
                    p {
                        line-height: 1.5;
                        &.purpose__item-heading {
                            font-size: 24px;
                            font-weight: 700;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
// Purpose Section Styles End