:root {
    // colors
    --primary-color: #f3f4ec;
    --secondary-color: #6c6e71;
    --forest-green: #292d33;
    --charcoal: #202020;
    --sunset: #d4491b;

    // typography
    --main-font: "indivisible", sans-serif;
    --support-font: "turnip", serif;
}

// add your custom styles here 👇
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
